.veneficios {
    font-size: 2rem;
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
    .producto{
        width: 50%;
        height: 50%;
    }
    .imgApp{
        width: 50%;
        height: 50%;
    }
}